<nav class="navbar navbar-expand-md navbar-dark bg-gray-dark black ">
   <div class="container">
      <a class="text-white link-reset text-inherit pr-3" href="/">
      Inventory Management System
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto">
            <li class="nav-item nav-link" >
               <a class="nav-link text-inherit" href="/inventory">
               Summary
               </a>
            </li>
            <li class="nav-item nav-link" >  <a class="nav-link text-inherit" href="/product">
               Products
               </a>
            </li>
            <li class="nav-item nav-link" >  <a class="nav-link text-inherit" href="/location">
               Locations
               </a>
            </li>
            <li class="nav-item nav-link">  <a class="nav-link text-inherit"  href="/transfers">
               Transfers
               </a>
            </li>
         </ul>
      </div>
   </div>
</nav>